@import url('https://fonts.googleapis.com/css2?family=Gabriela&family=Hanken+Grotesk&family=Inclusive+Sans&family=Noto+Sans+JP:wght@500&family=Poppins&family=Rubik&display=swap');

body{
    background-color: #111;    
    font-family: 'Poppins', sans-serif;
    color: white;

}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sm{
    width: 100px;
    display: flex; justify-content: space-between;
    margin-top: 10px;
}
header{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}
header h1{
    font-family: 'Gabriela', serif;
}
.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 5px; 
    max-width: 80%; 
    perspective: 1000px;
}

.card {
    width: 35px; height: 35px;
    background-color: #555;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    transition: .7s;
}
.card:hover {
    cursor: pointer;
}
.cardContent{
    display: none;
    transition: 1s;
    font-size: 24px;
}
@media screen and (max-width : 450px) {
    .card {
        width: 30px; height: 30px;
        padding: 6px;
    }
}
